ul {list-style: none;display: flex;margin-left: 660px;margin-top: 0px;}
li {font-size: 30px;margin-left: 20px;margin-top: 40px;text-shadow: 7px 3px 13px red;}
a {text-decoration: none;color: black;}
.gallery {border: 2px solid;width: 260px;height: 160px;margin-left: 10px;margin-top: 0;}
.sec {display:flex}
.sec1 {display:flex}
.footer {margin-top: 10px;}	
i.fab {font-size: 40px;margin-left: 10px;margin-top: 20px;}	
.body {background: url(photo/body.jpg);background-size: cover;}
.logo {width: 125px;height: 115px;background: url(photo/logo.png);background-size: cover;border-radius: 87%;}
.m {width: 250px;}
.pqote {font-size: 35px;margin-left: 30px;
margin-top: 60px;margin-right: 390px;text-align: center;text-shadow: -4px 20px 16px black;}
.pperson {margin-left: 750px;font-size: 25px;}
#pic26 {background: url(photo/26.jpg);background-size: cover;}
#pic27 {background: url(photo/27.jpg);background-size: cover;}
#pic28 {background: url(photo/28.jpg);background-size: cover;}
.divbox {width: 65px;height: 200px;margin-top: 10px;margin-left: 10px;}
#circle {font-size: 75px;margin-top: 15px;}
.see {font-size: 20px;text-align: center;font-family: fantasy;margin: 0;margin-left: 10px;}
#map {font-size: 40px;margin-left:10px;margin-top: 20px;}
#mobile {font-size: 40px;margin-left: 10px;margin-top: 20px;}
.about {margin-left: 450px;margin-top: 50px;}
.footicon {margin-top: 130px;}
.footicon1 {margin-top: 120px;}
.aboutp {font-size: 30px;margin-left: 40px;margin-right: 400px;text-align: center;}
.works {width: 240px;border: 2px solid;height: auto;margin-left: 30px;margin-top: 20px;}
.img {width: 100%;height: auto;}
.para {
    margin: 0;
    margin-top: 5px;
    font-size: 25px;
    font-family: sans-serif;
}
.con {margin-left:400px;}
.width {width: 100%;}
.div {margin-left: 250px;}
.vadi {margin: 0;font-family: fantasy;font-size: 35px;color: darkgoldenrod;}

#wrapper {
    background: white;
    position: relative;
    border: 1px solid;
}
#menuBtn { 
    position: absolute;
    right: 0;background: 
    transparent; color: white; 
    line-height: 60px; 
    text-align: center;
 }
#myMenu { display: none; 
}
#myMenu ul { width: 100%;
    padding: 0;
     margin: 0;
    position: absolute; 
    top:  60px; 
     left: 0; 
     display: block;
     z-index: 1;
 }
#myMenu li { text-align: center;
    height: 40px; 
    line-height: 40px; 
    background:white; 
    width: 100%;
    margin: 0;
    padding: 0; 
    list-style: none;
    color:white; 
}
.headmob {
    width: 100%;
    background: white;
    top: 0;
    display: none;
}
#bar {
    color: black;
    font-size: 30px;
    margin-top: -50px;
    margin-right: 15px;
    float: right;
}
.title1 {
    color: black;
    font-size: 20px;
    margin-left: 5px;
} 

/*  media  Query  mobile*/

@media only screen and (max-width: 480px) {
  .sec1 {display: none ;}
  .headmob{display:block !important;}
  .body {display: block;background: none;}
  .pqote {margin-left: unset;margin-right: unset;margin-top:20px;}
  .pperson {margin-left: unset;text-align: center;}
  .sec {display: block;}
  .gallery {width: 100%;margin-top: 10px;margin-right: unset;}
  #pic26 {margin-left: unset;}
  #pic27 {margin-left: unset;}
  #pic28 {margin-left: unset;}
  .divbox {width: 100%;height: auto;}
  #circle {font-size: 30px;}
  .see {margin-left: 30px;margin-top: -30px;text-align: unset;}
  i.fab {font-size: 25px;}
  #map {font-size: 25px;}
  #mobile {font-size: 25px;}
  .about {margin: unset;text-align: center;}
  .aboutp {font-size: 25px;margin-left: unset;margin-right: unset;text-align: justify;padding: 10px;margin-bottom: unset; }
  .works {margin-left: unset;width:100%;}
  .con {margin: unset;text-align: center;}
  .div {margin-left: unset;}
  .vadi {text-align: center;margin-top: 10px;}
  .para {text-align: center;}
  .footicon {margin-top:20px;}
  .footicon1 {margin-top:20px;}
 } 